html {
  background: #d8dee9;
  width: 100%;
  max-width: 100%;
}

@for $j from 0 through 30 {
  $width: #{450 + ($j * 50)};
  @media (max-width: #{450 + ($j*50)}px) and (min-width: #{400 + ($j*50)}px) {
    .drops {
      @for $i from 1 through 50 + $j {
        $random-yoyo-time: random_range(3, 8) / 10;
        font-family: Georgia, serif;
        font-size: large;
        height: 90%;
        width: 0px;
        position: absolute;
        margin: 0;
        padding: 0;
        color: #ffffff;
        top: -50px;

        &:nth-child(#{$i}) {
          // left: #{random(1820)}px;
          left: #{random(($j * 50) + 350) + 25}px;
          animation: drop #{random(8) + 5}s linear infinite #{random(15)}s;
        }

        @keyframes drop {
          from {
            transform: translateY(0%);
          }
          to {
            transform: translateY(140%);
          }
        }
      }
    }
  }
}

.place-items-top {
  place-items: top;
}
